<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.marketkurly">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".src.ApplicationClass"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">
        <activity android:name=".src.pay.CouponActivity"></activity>
        <activity android:name=".src.basket.BasketActivity" />
        <activity android:name=".src.pay.PayActivity" />
        <activity android:name=".src.select.SelectActivity" />
        <activity android:name=".src.product.ProductActivity" />
        <activity
            android:name=".src.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".src.main.MainActivity" />
        <activity android:name=".src.login.LoginActivity" />
        <activity android:name=".src.signup.SignUpActivity" />
        <activity android:name=".src.BaseActivity" />
        <activity android:name=".src.adress.AddressActivity" />
    </application>

</manifest>